importFrom(ICSNP, spatial.median, spatial.sign, HR.Mest, duembgen.shape, tyler.shape)

export(
"ae.hl.estimate",
"sr.indep.test",
"sr.loc.test",
"rank.shape",
"signrank.shape",
"spatial.shape",
"spatial.location",
"spatial.symmsign",
"spatial.signrank",
"spatial.rank",
"sr.sphere.test",
"SCov",
"SSCov",
"RCov",
"SRCov",
"to.shape"
)
