
export(
"ae.hl.estimate",
"ae.spatial.median",
"symmsign.shape",
"rank.shape",
"signrank.shape",
"spatial.shape",
"spatial.location",
"spatial.signs",
"spatial.signrank",
"spatial.symmsign",
"spatial.rank",
"sr.indep.test",
"sr.loc.test",
"sr.sphere.test",
"SCov",
"SSCov",
"RCov",
"SRCov",
"symmhuber",
"mvhuberM",
"to.shape",
"signs.shape"
)

useDynLib(SpatialNP)
